footer {
  padding: 15px;
  background-color: #ececec;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  display: flex;
  flex-direction: row;

  color: #282a36;
  text-decoration: none;
}

footer a img {
  margin-right: 5px;
}
