@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f2;
  font-family: "Inria Sans", sans-serif;
}

/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #44475a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #282a36;
}
